/* template css */

/* btn primary */
.cgr-btn {
  background-color: #339989;
  color: #FFFFFF;
  padding:  10px 50px;
  border-radius: 10px;
  transition-duration: 200ms;
  text-align: center;
}

.cgr-btn:hover {
  background-color: #247064;
}

/* btn primary outline */
.cgr-btn-outline {
  background-color: transparent;
  color: #339989;
  padding:  10px 50px;
  border: solid 2px;
  border-radius: 10px;
  transition-duration: 200ms;
  text-align: center;
}

.cgr-btn-outline:hover {
  background-color: #339989;
  color: #FFFFFF;
  border: solid 2px #339989;
}

/* btn red */
.cgr-btn-red {
  background-color: #FF6363;
  color: #FFFFFF;
  padding:  10px 50px;
  border-radius: 10px;
  transition-duration: 200ms;
  text-align: center;
}

.cgr-btn-red:hover {
  background-color: #dc5656;
}

/* btn gray outline */
.cgr-btn-outline-gray {
  background-color: transparent;
  color: #5C5C5C;
  padding:  10px 50px;
  border: solid 2px;
  border-radius: 10px;
  transition-duration: 200ms;
  text-align: center;
}

.cgr-btn-outline-gray:hover {
  background-color: #5C5C5C;
  color: #FFFFFF;
  border: solid 2px #5C5C5C;
}